spring:
  datasource:
    url: jdbc:h2:file:/Users/itsmefox/Projects/spring-boot-crud-example/data/exampledb
    driverClassName: org.h2.Driver
    username: admin
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  h2:
    console.enabled: true
